.DS_STORE
classes_core/__pycache__
.idea
examples/pytorch/mnist_data
examples/pytorch/data/MNIST
mnist
load.py
__pycache__
.venv
.venv_tf
build
classes.egg-info
data/*
.spyproject

experiments/dataset_data/**
experiments/exp*
**/*Zone.Identifier
**/*.pth
**/*.pt